.bwa-label {
  margin-right: 5px;
  cursor: pointer;
}

.badge-important {
  background-color: #b94a48;
}

.bwa-neat, .bwa-count {
  font-size: 32px;
  line-height: 55px;
  text-transform: uppercase;
}

.bwa-btn-group {
  vertical-align: bottom;
}
