.bwa-label {
  margin-right: 5px;
  cursor: pointer;
}

.badge-important {
  background-color: #b94a48;
}

.bwa-neat, .bwa-count {
  font-size: 32px;
  line-height: 55px;
  text-transform: uppercase;
}

.bwa-btn-group {
  display: inline-block;
  vertical-align: bottom;
}

.bwa-btn-tags {
  padding-top: 10px;
}

.bwa-select-sort {
  margin-top: 10px;
  margin-bottom: 0px;
}

.bwa-img {
  width: 420px;
  height: 290px;
}

.bwa-featured-img {
  width: 580px;
  height: 400px;
}

.bwa-project-well {
  height: 460px;
}
