RewriteEngine on

# content-type mappings
AddType application/javascript .js
AddType text/cache-manifest .manifest

# cache stuff for 60 minutes
ExpiresActive On
ExpiresDefault "access plus 120 minutes"

# compression
SetOutputFilter DEFLATE
Header set Vary "Accept-Encoding"
